body{
  margin: 0;
  padding: auto;
  width: 400vw;
  overflow-x: hidden;
  overflow-y:auto;
}

.video{
position: relative;
width: 100vw;
}

.title{
  position: absolute;
  top: 10%; /* Position the title vertically centered */
  left: 50%; /* Position the title horizontally centered */
  transform: translate(-50%, -50%); /* Center the title */
  z-index: 1; /* Ensure the title is above the video */
  color: white; /* Set title color */
  font-size: 3em; /* Set title font size */
  text-align: center; /* Center-align the text */
}

.parag{
  position: absolute;
  top: 50%; /* Position the title vertically centered */
  left: 20%; /* Position the title horizontally centered */
  transform: translate(-50%, -50%); /* Center the title */
  z-index: 1; /* Ensure the title is above the video */
  color: rgb(255, 255, 255); /* Set title color */
  font-size: 2em; /* Set title font size */
  text-align: center; /* Center-align the text */
  width: 20vw;
}
.Image1{
  position: absolute;
  top: 50%; /* Position the title vertically centered */
  left: 80%; /* Position the title horizontally centered */
  transform: translate(-50%, -50%); /* Center the title */
  z-index: 1; /* Ensure the title is above the video */
  color: rgb(255, 255, 255); /* Set title color */
  font-size: 2em; /* Set title font size */
  text-align: center; /* Center-align the text */
  width: 20vw;
  border-radius: 30px;
}

