body{
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y:auto;
    
}
.video{
 position: relative;
  width: 100vw;
  margin-top: -10px;
}

.Title3{
    position: absolute;
    top: 270%; /* Position the title vertically centered */
    left: 50%; /* Position the title horizontally centered */
    transform: translate(-50%, -50%); /* Center the title */
    z-index: 1; /* Ensure the title is above the video */
    color: white; /* Set title color */
    font-size: 3em; /* Set title font size */
    text-align: center; /* Center-align the text */
}
.SubTitle3{
    position: absolute;
    top: 275%; /* Position the title vertically centered */
    left: 50%; /* Position the title horizontally centered */
    transform: translate(-50%, -50%); /* Center the title */
    z-index: 1; /* Ensure the title is above the video */
    color: white; /* Set title color */
    font-size: 1.5em; /* Set title font size */
    text-align: center; /* Center-align the text */
}

.RedirectButtonWrapper3{
  position: absolute;
  top: calc(275% + 70px); /* Adjust the distance from the Drone Filming CO subtitle */
  left: 50%; /* Position the button horizontally centered */
  transform: translateX(-50%); /* Center the button */
  z-index: 1; /* Ensure the button is above the video */
  }

  .RedirectButtonWrapper3 :hover{
    background-color: rgba(0, 0, 0, 0.568);
    }
  

  